*{
    font-family: 'Poppins', sans-serif;
}
body{
    margin:0;
    padding:0;
    background: rgb(238,174,202);
    background: linear-gradient(90deg, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}

.badge{
    background-color: #B3BFFB;
}

.card img{
    width:115px;
    height: 100px;
    margin:10px auto
}


.card p{
    color:black;
}
